@charset "UTF-8";
.visually-hidden, .section-title {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

h1,
h2,
h3,
p {
  margin: 0;
}

body {
  background-color: #FFFFFF;
  color: #212121;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

/* Header */
.page-header {
  background-color: #FFFFFF;
  border-bottom: 1px solid #ECECEC;
}

.page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
}

.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  color: #212121;
  font-family: Raleway, bold, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-accent {
  color: #2196F3;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav-li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 86px;
  padding-top: 31.5px;
  padding-bottom: 31.5px;
}

.site-nav-li:last-child {
  margin-right: 0;
}

.site-nav .link {
  color: #212121;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover, .site-nav .link:focus {
  color: #2196F3;
}

.site-nav .link.current {
  color: #2196F3;
}

.site-nav .link.current::after {
  display: inline-block;
  content: "";
  bottom: -1px;
  left: 0;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #2196F3;
  border-radius: 2px;
}

.email-and-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.email-and-phone--item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.email {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 31px;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.email:hover, .email:focus {
  color: #2196F3;
}

.icon-envelope {
  width: 16px;
  height: 11.2px;
  margin-right: 10px;
  fill: currentColor;
}

.icon-envelope:hover, .icon-envelope:focus {
  fill: currentColor;
}

.icon-phone {
  width: 10px;
  height: 15px;
  margin-right: 10px;
  fill: currentColor;
}

.icon-phone:hover, .icon-phone:focus {
  fill: currentColor;
}

.phone {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.phone:hover, .phone:focus {
  color: #2196F3;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/header.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

.hero {
  padding-bottom: 94px;
  text-align: center;
}

.hero-title {
  padding-top: 200px;
  margin-bottom: 46px;
  color: #FFFFFF;
  font-family: Roboto, sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.test > .item:nth-child(2n+4) {
  background-color: #e2c2c2;
}

.section-title,
.work-title,
.team-title,
.clients {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  border-bottom: 1px solid #E5E5E5;
}

.section-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.section-block {
  display: inline-block;
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
}

.icon-antenna {
  padding: 25px 102.34px;
  width: 65.32px;
  height: 70px;
}

.icon-clock::before {
  background-image: url("../images/clock.svg");
}

.icon-pc::before {
  background-image: url("../images/pc.svg");
}

.icon-astronaut::before {
  background-image: url("../images/astronaut.svg");
}

.section-text {
  margin-top: 10px;
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.undersection {
  margin-top: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Чем мы занимаемся */
.work {
  padding-top: 94px;
  padding-bottom: 94px;
}

.work-list {
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.work__card__image {
  position: relative;
  width: 370px;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.work-description {
  position: absolute;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 370px;
  overflow: hidden;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background: rgba(47, 48, 58, 0.8);
}

.work-ref {
  padding-top: 27px;
  padding-bottom: 27px;
  margin-left: auto;
  margin-right: auto;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team {
  /* background: rgb(196, 45, 103); */
  padding-top: 94px;
  padding-bottom: 94px;
}

.team .team-text {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  width: 1170px;
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team-member {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-card {
  width: 270px;
  overflow: hidden;
  border-radius: 4px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

/* Постоянные клиенты */
.clients-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.icon-yaco {
  width: 49.23px;
  height: 44.27px;
}

.icon-companytaglinehere {
  width: 40px;
  height: 52px;
}

.icon-company {
  width: 41px;
  height: 42.6px;
}

.icon-foster_peters {
  width: 80px;
  height: 42px;
}

.icon-brand {
  width: 52px;
  height: 47px;
}

.icon-company_tag_line2 {
  width: 89px;
  height: 46px;
}

.clients-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 90px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  fill: #AFB1B8;
  -webkit-transition-property: fill border-color;
  transition-property: fill border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover, .clients-link:focus {
  border: 1px solid #2196F3;
  fill: #2196F3;
}

.visually-hidden, .section-title {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Элементы соц сетей */
.team-networks {
  padding-bottom: 24px;
}

.social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sn-element {
  width: calc((100% - 10px) / 4);
  margin-right: 10px;
}

.sn-element:last-child {
  margin-right: 32px;
}

.sn-element:first-child {
  margin-left: 32px;
}

.link-socialnetworks {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
  border-radius: 50px;
  fill: #AFB1B8;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-socialnetworks:hover, .link-socialnetworks:focus {
  background-color: #2196F3;
  fill: #FFFFFF;
}

.icon-twitter,
.icon-instagram,
.icon-facebook,
.icon-linkedin {
  width: 20px;
  height: 20px;
}

.footer--link--socialnetworks {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #FFFFFF;
}

.footer-element:last-child {
  margin-right: 0px;
}

.footer-element:first-child {
  margin-left: 0px;
}

/* Footer */
.footer {
  background-color: #2F303A;
}

.footer .footer-adress1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1,71;
  letter-spacing: 0.03em;
}

.footer .footer-adress2 {
  margin-top: 9px;
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
}

.logo-bottom {
  display: block;
  margin-bottom: 20px;
  color: #FFFFFF;
  font-family: Raleway, bold, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 15px;
  width: 1170px;
  height: 132px;
}

.footer-frame {
  display: block;
}

.join {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 20px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.subscribe {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 20px;
}

.icon-send {
  padding-left: 10px;
  width: 24px;
  height: 24px;
}

.auth-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
}

.footer-input {
  padding-left: 16px;
  width: 358px;
  height: 50px;
  margin-right: 12px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #2F303A;
  color: rgba(255, 255, 255, 0.6);
}

.footer-input::-webkit-input-placeholder {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-input:-ms-input-placeholder {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-input::-ms-input-placeholder {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-input::placeholder {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe {
  color: #FFFFFF;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-height: 26px;
  padding: 6px 22px;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
  color: #212121;
  background-color: #2196F3;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  -webkit-transition-property: background-color fill;
  transition-property: background-color fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button.primary {
  width: 200px;
  padding: 10px 29px;
  color: #FFFFFF;
  background-color: #2196F3;
  border-color: transparent;
  fill: #FFFFFF;
}

.button.secondary {
  color: #212121;
  background-color: #F5F4FA;
  border-color: transparent;
}

.button.secondary:hover {
  color: #FFFFFF;
  background-color: #2196F3;
}

.button:focus {
  color: #2196F3;
  background-color: #FFFFFF;
}

.button:hover {
  color: #2196F3;
  background-color: #FFFFFF;
  fill: #2196F3;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover {
  border: 1px solid #2196F3;
}

.close-icon {
  width: 11px;
  height: 11px;
  fill: #212121;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover .close-icon {
  fill: #2196F3;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border: 4px;
  background-color: #FFFFFF;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
}

.person-data--form {
  position: relative;
  padding: 40px;
}

.formfield {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 448px;
  height: 40px;
  margin-bottom: 28px;
}

.form-input {
  margin: 0;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-input:focus {
  border-color: #2196F3;
}

.form-input:focus ~ .icon {
  fill: #2196F3;
}

.form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #757575;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  color: #2196F3;
  -webkit-transform: translate(-26px, -40px);
          transform: translate(-26px, -40px);
}

.icon-form {
  position: absolute;
  top: 50%;
  left: 19px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.icon-name {
  width: 12px;
  height: 12px;
}

.icon-form--phone {
  width: 13px;
  height: 13px;
}

.icon-mail {
  width: 15px;
  height: 12px;
}

.comment {
  padding: 12px 16px;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.comment:focus {
  border-color: #2196F3;
}

.comment:focus::-webkit-input-placeholder {
  color: #2196F3;
}

.comment:focus:-ms-input-placeholder {
  color: #2196F3;
}

.comment:focus::-ms-input-placeholder {
  color: #2196F3;
}

.comment:focus::placeholder {
  color: #2196F3;
}

.checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.form-checkbox {
  position: relative;
  display: inline-block;
  margin-left: 36px;
  margin-top: 20px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.icon-check {
  position: absolute;
  top: 4px;
  left: -20px;
  display: block;
  width: 13px;
  height: 12px;
  background-color: #FFFFFF;
  border: 1px solid black;
  fill: #FFFFFF;
}

.checkbox:checked + .icon-check {
  background-color: #2196F3;
  border-color: #2196F3;
}

.form-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form-button {
  width: 200px;
  height: 50px;
  margin: 40px 123px 30px 125px;
}

.form-button:hover, .form-button:focus {
  cursor: pointer;
  border-color: #2196F3;
  outline: none;
}

.agreement-link {
  color: #2196F3;
}

.filter {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 94px;
  margin-bottom: 50px;
  width: 1170px;
}

.filter-button-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter-element {
  margin-right: 8px;
}

.filter-element:last-child {
  margin-right: 0;
}

.portfolio {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0 px;
  margin-bottom: 94px;
  width: 1170px;
  color: #212121;
}

.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  width: 370px;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover, .card:focus {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.card-content {
  background: #FFFFFF;
  border-right: 1px solid #FFFFFF;
  border-left: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.portfolio-element {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-element:nth-child(3n) {
  margin-right: 0;
}

.portfolio-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.card-image {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}

.card-header {
  margin-bottom: 4px;
  color: #212121;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card-description {
  color: #757575;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.card:hover .card-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.overlay--text--color {
  padding: 63px 24px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
/*# sourceMappingURL=main.css.map */