// Приимущества

.test > .item:nth-child(2n+4) {
    background-color: rgb(226, 194, 194);
}

.section-title {
    @extend .visually-hidden;
}

.section-title,
.work-title,
.team-title,
.clients {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
    border-bottom: 1px solid $background_color;
  }

.section-list {

    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1140px) {
        width: 1140px;

        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
}

.section-item {
    @media screen and (min-width: 480px) {
        display: block;
        justify-content: center;
        align-items: center;
    }
}

.section-block {
    display: inline-block;
    justify-content: center;
    align-items: center;

    height: 120px;
    background-color: $secondary_background_color;
    border-radius: 4px;

    @media screen and (min-width: 480px) {

    }

    @media screen and (min-width: 768px) {
        width: 50%px;
    }

    @media screen and (min-width: 1170px) {
        width: 1170px;
        width: 33.3333%;
    }
}

.icon-advantages {
    // padding: 25px 102.34px;
    width: 65.32px;
    height: 70px;
}

.icon-clock::before {
    background-image: url('../images/clock.svg');
}

.icon-pc::before {
    background-image: url('../images/pc.svg');
}

.icon-astronaut::before {
    background-image: url('../images/astronaut.svg');
}

.section-text {
    margin-top: 10px;

    color: $text_color;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.undersection {
    margin-top: 30px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}