
.page-header {
    position: relative;
    background-color: $background_text_color;
    border-bottom: 1px solid $header_border_color;
}

.page-container {
    display: flex;

    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 767px) {
        justify-content: space-between;
    }

    @media screen and (min-width: 768px) {
        max-width: 768px;
        display: flex;
        justify-content: space-between;
        // align-items: center;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        max-width: 1200px;
        // @include flex-center(flex);

    }
}

.logo {
    display: inline-block;
    padding-top: 16px;
    padding-bottom: 15px;


    color: $title_text_color;

    font-family: $logo-font;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

        &-accent {
            color: $accent_color;
        }

    @media screen and (max-width: 767px) {
        padding-top: 16px;
        padding-bottom: 15px;
    }

    @media screen and (min-width: 768px) {
        padding-top: 24px;
        padding-bottom: 25px;
        margin-right: 80px;
    }
}

.navigation {
    // сюда позиционируется модалка
    // position: relative;
    // display: flex;

    @media screen and (max-width: 767px) {
        margin-bottom: 60px;
    }

    @media screen and (min-width: 768px) {
        // align-items: center;
        // justify-content: center;
    }

    @media screen and (min-width: 1200px) {

    }
}

.site-nav.list {

    @media screen and (max-width: 767px) {
        display: block;

    }

    @media screen and (min-width: 768px) {
        display: flex;

    }
}

.page-contacts {
    // display: flex;
}

.site-nav-li {
    @media screen and (min-width: 1200px) {
        // width: 1200px;
    }

    // display: flex;
    // margin-left: 86px;
    // padding-top: 31.5px;
    // padding-bottom: 31.5px;

        &:last-child {
            margin-right: 0;
        }

    @media screen and (max-width: 767px) {
        margin-bottom: 45px;

        &:last-child {
            margin-bottom: 60px;
        }
    }

    @media screen and (min-width: 768px) {
        padding: 33px 0 32px 0;

        &:not(:last-child) {
            margin-right: 50px;
        }
    }
}

.site-nav .link {
    position: relative;
    display: inline-block;

    color: $title_text_color;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    @include cubic(color);

    @media screen and (max-width: 767px) {
        // position: relative;
        // display: inline-block;
        // дать эти значения для всех точек перелома
    }


        &:hover, &:focus {
            color: $accent_color;
        }

        &.current {
            color: $accent-color;
                &::after {
                    height: 4px;
                    width: 100%;
                    background: $accent_color;
                    border-radius: 2px;

                    @media screen and (max-width: 767px) {
                        display: inline-block;
                        content: "";

                        top: 100%;
                        left: 0;
                        position: absolute;
                    }

                    @media screen and (min-width: 768px) {
                        display: inline-block;
                        content: "";

                        position: absolute;
                        top: 46px;
                        left: 0px;
                    }

                    @media screen and (min-width: 1200px) {
                        display: inline-block;
                        content: "";

                        position: absolute;
                        top: 46px;
                        left: 0px;
                    }


                }
        }
}

.email-and-phone {
    // display: flex;

    // margin-left: auto;
    // align-items: center;

        &--item {
            @media screen and (min-width: 1200px) {
            // display: inline-flex;
            }
        }

    @media screen and (max-width: 767px) {
        display: block;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: row;
        margin-left: auto;
        align-items: center;

        &--item {
            // display: inline-flex;
        }
    }
}

.email {
    // display: inline-flex;
    // margin-right: 31px;
    color: $text_color;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    align-items: center;
    justify-content: center;

    @include cubic(color);

        &:hover, &:focus {
            color: $accent_color;
        }

    @media screen and (max-width: 767px) {
        display: block;
        margin-bottom: 16px;
    }

    @media screen and (min-width: 768px) {
        display: block;
        margin-bottom: 10px;
    }

    @media screen and (min-width: 1200px) {
        display: inline-flex;
        margin-right: 30px;
        margin-bottom: 0;
    }
}

.icon-envelope {
    width: 16px;
    height: 11.2px;
    margin-right: 10px;
    fill: currentColor;

        &:hover, &:focus {
            fill: currentColor;
        }
}

.icon-phone {
    width: 10px;
    height: 15px;
    margin-right: 10px;
    fill: currentColor;

        &:hover, &:focus {
            fill: currentColor;
        }
  }

.phone {
    // display: inline-flex;
    color: $text_color;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    align-items: center;
    justify-content: center;

    @include cubic(color);

        &:hover, &:focus {
            color: $accent_color;
        }
}

.mobile__menu__button {
    display: inline-flex;
    padding: 0;
    margin: 10px 0 9px 0;
    border: none;
    background-color: transparent;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.mobile__menu__button .icon-cross {
    display: none;
}

.mobile__menu__button.is-open .icon-cross {
    display: block;
}

.mobile__menu__button.is-open .icon-menu {
    display: none;
}

.menu-container {
    text-align: center;
    background-color: $background_text_color;


        @media screen and (max-width: 767px) {
            display: none;
            position: absolute;
            z-index: 99;
            top: 100%;
            left: 0;
            width: 100%;
            padding: 60px 0;

            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.04);

            &.is-open {
                display: block;
            }
        }

        @media screen and (min-width: 768px) {
            display: flex;
            // text-align: center;
            justify-content: space-between;
            flex-grow: 1;
        }

        @media screen and (min-width: 1200px) {
            display: flex;
            // align-items: center;
            justify-content: space-between;
        }



}