// Hero

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 480px) {
        width: 450px;
    }

    @media screen and (min-width: 768px) {
        width: 738px;
    }

    @media screen and (min-width: 1200px) {
        width: 1170px;
    }
}

.overlay {
    // max-width: 1600px;
    // height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)),
    url(../images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

.hero {
    // padding-bottom: 94px;
    text-align: center;
}

.hero-title {
    // padding-top: 200px;
    // margin-bottom: 46px;

    color: $background_text_color;

    font-family: $main-font;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}