 /* Элементы соц сетей */

.team-networks {
    padding-bottom: 24px;
}

.social-networks {
    display: flex;
    justify-content: center;
    align-items: center;

    // @media screen and (max-width: 1199px) {
    //     justify-content: center;
    //     align-items: center;
    // }

    // @media screen and (min-width: 1200px) {
    //     justify-content: center;
    //     align-items: center;
    // }

}

.sn-element {
    &:not(:last-child) {
        margin-right: 10px;
    }


    // @media screen and (max-width: 767px) {
    //     &:not(:last-child) {
    //         margin-right: 10px;
    //     }
    // }

    @media screen and (min-width: 768px) {

    }

    @media screen and (min-width: 1200px) {
        // width: calc((100% - 10px) / 4);
        // margin-right: 10px;

        &:last-child {
            margin-right: 32px;
        }

        &:first-child {
            margin-left: 32px;
        }
    }
}



.link-socialnetworks {
    width: 44px;
    height: 44px;
    @include flex-center(flex);
    background-color: $background_text_color;
    border-radius: 50px;
    fill: $buttons_color;

    @include cubic(background-color);

        &:hover, &:focus {
            background-color: $accent_color;
            fill: $background_text_color;
        }
}

.icon-twitter,
.icon-instagram,
.icon-facebook,
.icon-linkedin {
  width: 20px;
  height: 20px;
}

