/* Чем мы занимаемся */

.work {

    @media screen and (max-width: 1199px) {
        display: none;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }


}

.work-list {
    color: $background_text_color;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.work__card__image {
    position: relative;
    width: 370px;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.work-description{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    min-width: 370px;
    overflow: hidden;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;

    background:rgba(47, 48, 58, 0.8);
}

.work-ref {

    padding-top: 27px;
    padding-bottom: 27px;
    margin-left: auto;
    margin-right: auto;

    color: $background_text_color;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}